@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --primary: #156064;
  --family-tree: #81864e;
}

.container {
  width: 80%;
  margin-inline: auto;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .container {
    width: 90%;
  }
}

.btn-primary {
  min-width: 72px;
  height: 36px;
  padding-inline: 1rem;
  box-sizing: content-box;
  background-color: #fff;
  color: var(--primary);
  font-weight: 500;
  border: 3px solid var(--primary);
  border-radius: 52px;
}
@media (max-width: 600px) {
  .btn-primary {
    font-size: 16px;
    padding-inline: 20px;
    padding-block: 4px;
  }
}

.btn-primary:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn-outline {
  min-width: 72px;
  height: 36px;
  padding-inline: 1.5rem;
  padding-block: 0.15rem;
  box-sizing: content-box;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 52px;
}
@media (max-width: 600px) {
  .btn-outline {
    font-size: 16px;
    padding-inline: 20px;
    padding-block: 4px;
  }
}

.btn-outline:hover {
  cursor: pointer;
}

p {
  font-size: 1rem;
  line-height: 173%;
  opacity: 0.6;
}
@media (max-width: 600px) {
  p {
    font-size: 16px;
  }
}

.display {
  width: 100%;
  position: fixed;
  background-color: var(--primary);
  padding: 1rem;
  z-index: 100;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
@media (max-width: 600px) {
  nav {
    display: none;
  }
}
nav .logo {
  display: flex;
  margin-left: 2.2rem;
}
nav .logo img {
  width: 8rem;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
nav ul li {
  margin-inline: 2.2rem;
}
nav ul li a {
  text-decoration: none !important;
  color: #fff;
  font-weight: 500;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  nav ul li {
    margin-inline: 1.6rem;
  }
}
nav ul li:nth-child(1) {
  margin-inline: 0;
  margin-right: 2.2rem;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  nav ul li:nth-child(1) {
    margin-right: 1.6rem;
  }
}
nav ul li:nth-child(4) {
  padding-inline: 0;
  margin-left: 2.2rem;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  nav ul li:nth-child(4) {
    margin-left: 1.6rem;
  }
}

.navbar-scrolled {
  background: #fff !important;
  color: var(--primary);
  box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}
.navbar-scrolled a {
  color: var(--primary);
}
.navbar-scrolled button {
  background-color: var(--primary);
  color: #fff;
}

.navbar {
  display: none;
  background-color: transparent;
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}
.navbar img {
  height: 48px;
}
.navbar div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .menu-icon {
  height: 28px;
  width: 42px;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.navbar .menu-icon .line {
  background-color: #fff;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
@media (max-width: 600px) {
  .navbar {
    display: block;
    display: flex;
  }
}

.navbar-mobile-scrolled {
  background: #fff !important;
  color: var(--primary);
  box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}
.navbar-mobile-scrolled a {
  color: var(--primary);
}
.navbar-mobile-scrolled button {
  background-color: var(--primary);
  color: #fff;
}
.navbar-mobile-scrolled .line {
  background-color: var(--primary) !important;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

#sidebar {
  display: none;
  width: 0%;
  opacity: 0;
  height: 100vh;
  background-color: var(--primary);
  position: fixed;
  left: 0;
  z-index: 200;
  transition: 0.3s;
}
@media (max-width: 600px) {
  #sidebar {
    display: block;
  }
}
#sidebar .close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.7;
}
#sidebar .close:hover {
  opacity: 1;
}
#sidebar .close:before, #sidebar .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #FFF;
}
#sidebar .close:before {
  transform: rotate(45deg);
}
#sidebar .close:after {
  transform: rotate(-45deg);
}
#sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-block: 48px;
  padding-top: 120px;
}
#sidebar ul li {
  margin-inline: 2.2rem;
  margin-block: 20px;
  padding-block: 12px;
}
#sidebar ul li a {
  text-decoration: none !important;
  color: #fff;
  text-align: initial;
  font-size: 20px;
}
#sidebar button {
  display: block;
  margin-inline: auto !important;
  padding: 4px 20px;
}
#sidebar a {
  text-decoration: none !important;
}

header {
  background-color: var(--family-tree);
  background-image: url("/assets/header-bg.jpg");
  background-size: cover;
  background-position: 0% 15%;
  height: 100vh;
  height: 100dvh;
  color: #fff;
}
header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 60%;
  margin-inline: auto;
  gap: 1rem;
  padding-top: 6rem;
}
@media (max-width: 600px) {
  header .header-content {
    width: 90%;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  header .header-content {
    width: 80%;
  }
}
header .header-content h1 {
  font-size: 3.4rem;
}
@media (max-width: 600px) {
  header .header-content h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  header .header-content h1 {
    font-size: 4.5rem;
  }
}
header .header-content p {
  font-size: 16px;
  padding-block: 1rem;
  width: 40%;
  line-height: 1.8rem;
}
@media (max-width: 600px) {
  header .header-content p {
    width: 90%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  header .header-content p {
    width: 80%;
    font-size: 1.6rem;
  }
}
header .header-content button {
  margin-block: 1rem;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  header .header-content button {
    font-size: 1.6rem;
    padding-inline: 36px;
    padding-block: 12px;
  }
}

.info {
  width: 60%;
  margin-inline: auto;
  display: flex;
  margin-block: 8rem;
  padding-block: 2rem;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 600px) {
  .info {
    width: 90%;
    flex-direction: column;
    margin-block: 24px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .info {
    width: 90%;
  }
}
.info img {
  width: 50%;
}
@media (max-width: 600px) {
  .info img {
    width: 90%;
  }
}
.info p {
  width: 50%;
  font-size: 1.2rem;
}
@media (max-width: 600px) {
  .info p {
    width: 90%;
  }
}

.connected {
  background-color: var(--family-tree);
  background-image: url("/assets/connected.jpg");
  background-size: cover;
  padding: 3rem;
  text-align: center;
  color: #fff;
  border-radius: 2rem;
}
@media (max-width: 600px) {
  .connected {
    padding: 16px;
    padding-block: 52px;
  }
}
.connected h1 {
  font-size: 3.4rem;
  width: 70%;
  margin-inline: auto;
}
@media (max-width: 600px) {
  .connected h1 {
    width: 80%;
    font-size: 42px;
  }
}
.connected .line {
  width: 50%;
  height: 1px;
  background-color: #fff;
  margin-inline: auto;
  margin-block: 3rem;
}
@media (max-width: 600px) {
  .connected .line {
    margin-block: 36px;
  }
}
.connected p {
  opacity: 1;
  width: 70%;
  margin-inline: auto;
}
@media (max-width: 600px) {
  .connected p {
    width: 90%;
  }
}

.reverse {
  flex-direction: row-reverse;
  padding-bottom: 1rem;
}
@media (max-width: 600px) {
  .reverse {
    width: 90%;
    flex-direction: column;
    margin-block: 24px;
  }
  .reverse img {
    display: none;
  }
}

#team {
  padding-block: 2rem;
  padding-bottom: 6rem;
}
#team h4 {
  width: 80%;
  margin-inline-start: 2rem;
  padding-block: 2rem;
  opacity: 0.5;
  font-size: 20px;
}
#team .members {
  --gap: 2rem;
  --gap-mobile: 24px;
  width: 100%;
  display: flex;
  gap: var(--gap);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: var(--gap);
  padding-bottom: 3rem;
  justify-content: center;
}
@media (max-width: 600px) {
  #team .members {
    overflow-x: scroll;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  #team .members {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  #team .members .member {
    width: 50vw;
    overflow: visible;
    overflow-x: visible;
  }
}
#team .members .member img {
  width: 22rem; /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
@media (max-width: 600px) {
  #team .members .member img {
    width: 50vw;
  }
}
#team .members .member h2 {
  color: var(--primary);
  padding-block-start: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}
#team .members .member p {
  width: 90% !important;
  max-width: 20rem;
  padding-block: 1.5rem;
}
#team .members .member button {
  color: var(--primary);
  border: 2px solid var(--primary);
  padding-block: 0.15rem;
}
#team .members .member:nth-child(1) {
  margin-left: var(--gap);
}
#team .members > * {
  scroll-snap-align: start;
}
#team ::-webkit-scrollbar {
  display: none;
}

#prints {
  padding-block: 2rem;
  padding-block-start: 4rem;
  font-size: 16px;
}
#prints h4 {
  width: 80%;
  margin-inline-start: 2rem;
  padding-block: 2rem;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 600px) {
  #prints h4 {
    width: 100%;
    margin-inline-start: 0;
    text-align: center;
  }
}
#prints .prints {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /*
  .five{
      background-image: url('assets/newspapers/sacn\ 1.jpg');
      background-position: 0% 10%;
  }
  .six{
      background-image: url('assets/newspapers/scan\ 2.jpg');
      background-position: 0% 30%;
  }*/
}
@media (max-width: 600px) {
  #prints .prints {
    width: 90%;
    margin-inline: auto;
  }
}
#prints .prints a {
  height: 30vh;
  width: 33.33%;
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  #prints .prints a {
    height: 40vh;
    width: 50%;
  }
}
#prints .prints a h3 {
  font-weight: 200;
}
#prints .prints .paper {
  width: 100%;
  height: 100%;
  background-image: url("assets/newspapers/compressed/First-day-at-school.jpg");
  background-size: cover;
  background-position: 0% 30%;
  overflow-y: hidden !important;
  transition: 0.3s;
}
#prints .prints .one {
  background-image: url("assets/newspapers/compressed/First-day-at-school.jpg");
  background-position: 0% 30%;
}
#prints .prints .two {
  background-image: url("assets/newspapers/compressed/don't sing.jpg") !important;
  background-position: 0% 30%;
}
#prints .prints .three {
  background-image: url("assets/newspapers/Not a Child's Play.jpg");
  background-position: 0% 30%;
}
#prints .prints .four {
  background-image: url("assets/newspapers/only love is real.jpg");
  background-position: 0% 10%;
}
#prints .prints .seven {
  background-image: url("assets/newspapers/compressed/The Missing Man.jpg");
  background-position: 0% 10%;
}

.book-container {
  display: flex;
}
@media (max-width: 600px) {
  .book-container {
    display: block;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .book-container {
    justify-content: flex-start;
  }
}
.book-container .book {
  margin-block: 2rem;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .book-container .book {
    width: 100%;
    margin-inline: auto;
    padding-block: 80px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .book-container .book {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.book-container .book img {
  margin-block: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
@media (max-width: 600px) {
  .book-container .book img {
    margin-block: 0px;
  }
}
.book-container .book:nth-child(2) {
  margin-block-end: 2rem;
}
.book-container .content {
  width: 60%;
}
@media (max-width: 600px) {
  .book-container .content {
    width: 90%;
    margin-inline: auto;
  }
}
.book-container .content h1 {
  font-size: 3rem;
  color: var(--primary);
  margin: 2rem;
  display: block;
}
@media (max-width: 600px) {
  .book-container .content h1 {
    margin: 0;
  }
}
.book-container .content p {
  margin: 2rem;
}
@media (max-width: 600px) {
  .book-container .content p {
    margin: 0;
    margin-block: 16px;
  }
}
.book-container .content a {
  text-decoration: none !important;
}
.book-container .content button {
  color: var(--primary);
  border-color: var(--primary);
  margin-inline-start: 2rem;
}
@media (max-width: 600px) {
  .book-container .content button {
    margin: 0;
    margin-inline: auto;
    display: block;
  }
}
.book-container .content button:hover {
  background-color: var(--primary);
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.book-container:nth-child(1) {
  padding-block-end: 0 !important;
}

.book-container:nth-child(2) {
  margin-block-end: 2rem;
}

#publications {
  padding-block: 3.25rem;
  margin-block-start: 5rem;
  padding-block-end: 5rem;
  margin-bottom: 25vh;
  font-size: 16px;
  background-color: var(--family-tree);
  background-image: url("/assets/banner.jpg");
  color: #fff;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  #publications {
    margin-bottom: 10vh;
  }
}
#publications h4 {
  width: 80%;
  margin-inline-start: 2rem;
  padding-block-start: 2rem;
  margin-block-start: 2rem;
  font-size: 20px;
}
#publications .articles {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin-inline: auto;
  margin-block: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  #publications .articles {
    flex-direction: column;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  #publications .articles {
    flex-wrap: wrap;
  }
}
#publications .articles .article {
  padding: 1.8rem;
  background-color: #fff;
  border-radius: 2px;
  width: 33% !important;
  border: 3px solid rgb(255, 255, 106);
}
@media (max-width: 600px) {
  #publications .articles .article {
    width: 100% !important;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  #publications .articles .article {
    width: 50%;
  }
}
#publications .articles .article img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#publications .articles .article a {
  color: #000;
  opacity: 1;
  text-decoration: underline;
  margin-inline: 2rem;
}
#publications a {
  color: #fff;
  text-decoration: none;
}
#publications h1 {
  text-align: center;
  font-size: 2.5rem;
  width: 85%;
  margin-inline: auto;
  text-decoration: underline;
}
@media (max-width: 600px) {
  #publications h1 {
    font-size: 24px;
  }
}
#publications h4 {
  text-align: center;
  width: 85%;
  margin-inline: auto;
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  #publications h4 {
    padding: 0;
  }
}
#publications button {
  display: block;
  margin-inline: auto;
  padding-inline: 2rem;
}
@media (max-width: 600px) {
  #publications button {
    margin-block-start: 30px;
  }
}

#seminars {
  padding-block: 2rem;
  padding-block-start: 4rem;
  padding-block-end: 3rem;
  font-size: 16px;
  background-color: var(--family-tree);
  background-image: url("/assets/connected.jpg");
  color: #fff;
}
#seminars h4 {
  width: 80%;
  margin-inline-start: 2rem;
  padding-block: 2rem;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin-inline: auto;
  text-align: center;
}
#seminars .articles {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin-inline: auto;
  margin-block: 4rem;
  justify-content: space-between;
}
@media (max-width: 600px) {
  #seminars .articles {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  #seminars .articles {
    flex-wrap: wrap;
  }
}
#seminars .articles .article {
  padding: 2rem;
  background-color: #fff;
  border-radius: 20px;
  width: 22%;
}
@media (max-width: 600px) {
  #seminars .articles .article {
    width: 100%;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  #seminars .articles .article {
    width: 47%;
    margin-block: 1rem;
    margin-inline: 0.5rem;
  }
}
#seminars .articles .article img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#seminars .articles .article a {
  color: #000;
  opacity: 0.5;
  text-decoration: none;
  margin-inline: 2rem;
}
#seminars .articles .article a:hover {
  cursor: initial;
}
#seminars .articles .article:nth-child(1) {
  background-color: var(--family-tree) !important;
}
#seminars .articles .article:nth-child(1) a {
  color: #fff !important;
  text-decoration: underline;
  opacity: 1;
  line-height: 150%;
  cursor: pointer;
}
#seminars .articles .active {
  opacity: 0.5;
  text-transform: uppercase;
}
#seminars .articles .article:nth-child(2) {
  background-color: var(--family-tree) !important;
}
#seminars .articles .article:nth-child(2) a {
  color: #fff !important;
  text-decoration: underline;
  opacity: 1;
  line-height: 150%;
  cursor: pointer;
}
#seminars a {
  color: #fff;
  text-decoration: none;
}
#seminars h1 {
  text-align: center;
  font-size: 2.5rem;
  width: 85%;
  margin-inline: auto;
}
@media (max-width: 600px) {
  #seminars h1 {
    font-size: 2rem;
  }
}
#seminars .white {
  color: #fff !important;
}
#seminars button {
  display: block;
  margin-inline: auto;
  padding-inline: 2rem;
}

#workspace {
  padding-block: 10rem;
  padding-block-end: 5rem;
}
#workspace h4 {
  width: 80%;
  margin-inline-start: 2rem;
  padding-block: 2rem;
  opacity: 0.5;
  font-size: 20px;
}
#workspace .gallery {
  display: grid;
  grid-template-areas: "one two" "one three";
  height: 100vh;
}
@media (max-width: 600px) {
  #workspace .gallery {
    grid-template-areas: "one" "two" "three";
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  #workspace .gallery {
    grid-template-areas: "one" "two" "three";
  }
}
#workspace .img {
  background-color: azure;
  background-image: url("/assets/workspace/one.jpg");
  background-size: cover;
  background-position: 0%;
  background-repeat: no-repeat;
  border: 1px solid #fff;
}
@media (max-width: 600px) {
  #workspace .img {
    height: 33.33vh;
    background-position: 0% 50%;
  }
}
#workspace .one {
  grid-area: one;
}
#workspace .two {
  grid-area: two;
  background-image: url("/assets/workspace/two.jpg");
}
@media (max-width: 600px) {
  #workspace .two {
    background-position: 0% 70%;
  }
}
#workspace .three {
  grid-area: three;
  background-image: url("/assets/workspace/three.jpg");
}
@media (max-width: 600px) {
  #workspace .three {
    background-position: 0% 70%;
  }
}

#appointments {
  padding-block-start: 4.5rem;
}
#appointments h1 {
  margin-left: 2.2rem;
  margin-bottom: 2.2rem;
  font-size: 3.2rem;
  color: var(--primary);
}
#appointments .text-info {
  display: flex;
  flex-direction: row;
}
#appointments .text-info p {
  margin-left: 2.2rem;
  font-size: 16px;
  line-height: 173.4%;
  color: #156064;
  opacity: 1;
  padding-block: 1.5rem;
  padding-inline-end: 4rem;
  margin-bottom: 2rem;
  width: 35%;
  color: var(--primary) !important;
}
@media (max-width: 600px) {
  #appointments .text-info p {
    width: 50%;
    padding-inline-end: 12px;
  }
}
#appointments .form-row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  #appointments .form-row {
    flex-direction: column;
  }
}
#appointments .form-area {
  padding-inline: 2.2rem;
  padding-block: 2.2rem;
  background-color: var(--family-tree);
  width: 50%;
}
@media (max-width: 600px) {
  #appointments .form-area {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  #appointments .form-area {
    width: 65%;
  }
}
#appointments .form-area form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-inline: auto;
  padding-block: 1rem;
  padding-block-end: 2rem;
}
@media (max-width: 600px) {
  #appointments .form-area form {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  #appointments .form-area form {
    width: 100%;
  }
}
#appointments .form-area form h3 {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 2.5rem;
}
#appointments .form-area form input {
  height: 52px;
  border-radius: 8px;
  margin-bottom: 1.8rem;
  padding: 1rem;
  outline: 0;
  border: 0;
  background-color: #fff;
}
#appointments .form-area form ::-moz-placeholder {
  font-size: 1rem;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  opacity: 1;
  padding-left: 1rem;
}
#appointments .form-area form ::placeholder {
  font-size: 1rem;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  opacity: 1;
  padding-left: 1rem;
}
#appointments .form-area form fieldset {
  outline: 0;
  border: 0;
}
#appointments .form-area form .checkbox-container {
  height: 52px;
  border-radius: 8px;
  margin-bottom: 1.8rem;
  padding: 1rem;
  outline: 0;
  border: 0;
  background-color: #fff;
  width: 48%;
  overflow: hidden !important;
  /*
  .checkbox input:checked ~ .checkmark {
      background-color: #2196F3;
  }*/
  /* Show the checkmark when checked */
}
@media (max-width: 600px) {
  #appointments .form-area form .checkbox-container {
    overflow: visible;
    width: 100%;
  }
}
#appointments .form-area form .checkbox-container .checkbox {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  opacity: 1;
  padding-left: 2rem;
  overflow: hidden !important;
}
@media (max-width: 600px) {
  #appointments .form-area form .checkbox-container .checkbox {
    padding-left: 42px;
  }
}
#appointments .form-area form .checkbox-container .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#appointments .form-area form .checkbox-container .checkbox .checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #D9D9D9;
  overflow: visible;
}
#appointments .form-area form .checkbox-container .checkbox .checkmark::after {
  content: url("/assets/check-mark.svg");
  position: absolute;
  width: 8px !important;
  height: 8px !important;
  display: none;
}
#appointments .form-area form .checkbox-container .checkbox:hover > .checkmark {
  background-color: #ccc;
}
#appointments .form-area form .checkbox-container .checkbox input:checked ~ .checkmark:after {
  display: block;
}
#appointments .form-area form .one-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 600px) {
  #appointments .form-area form .one-row {
    display: flex;
    flex-direction: column;
  }
}
#appointments .form-area form textarea {
  border-radius: 8px;
  margin-bottom: 1.8rem;
  padding: 1rem;
  outline: 0;
  border: 0;
  background-color: #fff;
  resize: none;
}
#appointments .form-area form button {
  background-color: var(--primary);
  color: #fff;
  width: 25%;
  padding-block: 0.5rem;
  border: #fff 1px solid;
  word-wrap: none;
}
@media (max-width: 600px) {
  #appointments .form-area form button {
    padding-inline: 48px;
    padding-block: 8px;
  }
}
#appointments .img-area {
  height: auto;
  width: 50%;
  background-size: cover;
  background-position: 0% 0%;
}
@media (max-width: 600px) {
  #appointments .img-area {
    width: 100vw;
    height: 100%;
  }
}
#appointments .img-area img {
  width: 100%;
}

#footer {
  background-image: url("/assets/footer.png");
  background-size: cover;
  color: #fff;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer a {
  margin-bottom: 3rem;
}
#footer h3 {
  font-size: 1.25rem;
  text-align: center;
  line-height: 160%;
  font-weight: 200;
  margin-bottom: 3rem;
}
@media (max-width: 600px) {
  #footer h3 {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */