@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --primary: #156064;
    --family-tree: #81864e;
}

$mobile: 600px;
$tablet: 1000px;

@mixin mobile{
    @media (max-width: #{$mobile}){
        @content;
    }
}

@mixin tablet{
    @media (max-width: #{$tablet}){
        @content;
    }
}

.container{
    width: 80%;
    margin-inline: auto;
    @include mobile{
        width: 90%;
    }
}
.btn-primary{
    min-width: 72px;
    height: 36px;
    padding-inline: 1rem;
    box-sizing: content-box;
    background-color: #fff;
    color: var(--primary);
    font-weight: 700;
    border: 3px solid var(--primary);
    border-radius: 52px;

    @include mobile{
        font-size: 16px;
        padding-inline: 20px;
        padding-block: 4px;
    }
}
.btn-primary:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-outline{
    min-width: 72px;
    height: 36px;
    padding-inline: 1.5rem;
    //padding-block: 0.4rem;
    padding-block: .15rem;
    box-sizing: content-box;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: 52px;
    @include mobile{
        font-size: 16px;
        padding-inline: 20px;
        padding-block: 4px;
    }
}
.btn-outline:hover{
    cursor: pointer;
}

p{
    font-size: 1rem;
    line-height: 173%;
    opacity: 0.6;
    @include mobile{
        font-size: 16px;
    }
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    @include mobile{
        display: none;
    }
    .logo{
        display: flex;
        margin-left: 2.2rem;
        img{
            width: 6rem;
        }
    }
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li{
            margin-inline: 2.2rem;
            a{
                text-decoration: none !important;
                color: #fff;

            }
        }
        li:nth-child(1){
            margin-inline: 0;
            margin-right: 2.2rem;
        }
        li:nth-child(5){
            margin-inline: 0;
            margin-left: 2.2rem;
        }
    }
}



.navbar-scrolled{
    background: #fff !important;
    color: var(--primary);
    a{
        color: var(--primary);
    }
    button{
        background-color: var(--primary);
        color: #fff;
    }
    box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}

.navbar{
    display: none;
    background-color: transparent;
    position: fixed;
    z-index: 100;
    width: 100%;
    @include mobile{
        display: block;
        padding: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            height: 48px;
        }
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .menu-icon{
            height: 28px;
            width: 42px;
            display: flex;
            margin-left: 20px;
            flex-direction: column;
            justify-content: space-between;
            
            .line{
                background-color: #fff;
                width: 100%;
                height: 4px;
                border-radius: 2px;
            }
        }
    }
}
.navbar-mobile-scrolled{
    background: #fff !important;
    color: var(--primary);
    a{
        color: var(--primary);
    }
    img{

    }
    button{
        background-color: var(--primary);
        color: #fff;
    }
    .line{
        background-color: var(--primary) !important;
        width: 100%;
        height: 4px;
        border-radius: 2px;
    }
    box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}
#sidebar{
    display: none;

    @include mobile{
        display: block;
    }

    width: 0%;
    opacity: 0;
    height: 100vh;
    background-color: var(--primary);
    position: fixed;
    left: 0;
    z-index: 200;
    
    .close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.7;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #FFF;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }
      
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-block: 48px;
        padding-top: 120px;
        li{
            margin-inline: 2.2rem;
            margin-block: 20px;
            padding-block: 12px;
            a{
                text-decoration: none !important;
                color: #fff;
                text-align: initial;
                font-size: 20px;
            }
        }
    }
    button{
        display: block;
        margin-inline: auto !important;
    }
    a{
        text-decoration: none !important;
    }

    transition: 0.3s;
}

header{
    background-color: var(--family-tree);
    background-image: url('/assets/header-bg.jpg');
    background-size: cover;
    background-position: 0% 15%;
    height: 100vh;
    height: 100dvh;
    color: #fff;

    .header-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 60%;
        margin-inline: auto;
        gap: 1rem;
        padding-top: 6rem;
        @include mobile{
            width: 90%;
            padding-top: 2rem;
        }
        h1{
            font-size: 3.4rem;
            @include mobile{
                font-size: 2.5rem;
            }
        }
        p{
            font-size: 16px;
            padding-block: 1rem;
            width: 40%;
            line-height: 1.8rem;
            @include mobile{
                width: 90%;
            }
        }
        button{
            margin-block: 1rem;
        }
    }
}

.info{
    width: 60%;
    margin-inline: auto;
    display: flex;
    margin-block: 8rem;
    padding-block: 2rem;
    align-items: center;
    gap: 2rem;

    @include mobile{
        width: 90%;
        flex-direction: column;
        margin-block: 24px;
    }
    img{
        width: 50%;
        @include mobile{
            width: 90%;
        }
    }
    p{
        width: 50%;
        font-size: 1.2rem;
        @include mobile{
            width: 90%;
        }
    }
}

.connected{
    background-color: var(--family-tree);
    background-image: url('/assets/connected.jpg');
    background-size: cover;
    padding: 3rem;
    text-align: center;
    color: #fff;
    border-radius: 2rem;
    @include mobile{
        padding: 16px;
        padding-block: 52px;
    }
    h1{
        font-size: 3.4rem;
        width: 70%;
        margin-inline: auto;
        @include mobile{
            width: 80%;
            font-size: 42px;
        }
    }
    .line{
        width: 50%;
        height: 1px;
        background-color: #fff;
        margin-inline: auto;
        margin-block: 3rem;
        @include mobile{
            margin-block: 36px
        }
    }
    p{
        opacity: 1;
        width: 70%;
        margin-inline: auto;
        @include mobile{
            width: 90%;
            
        }
    }
}

.reverse{
    flex-direction: row-reverse;
    padding-bottom: 1rem;
    @include mobile{
        width: 90%;
        flex-direction: column;
        margin-block: 24px;
        img{
            display: none;
        }
    }
    
}


#prints{
    padding-block: 2rem;
    padding-block-start: 4rem;
    font-size: 16px;
    h4{
        width: 80%;
        margin-inline-start: 2rem;
        padding-block: 2rem;
        font-size: 20px;
        @include mobile{
            width: 100%;
            margin-inline-start: 0;
            text-align: center;
        }
    }
    .prints{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        @include mobile{
            width: 90%;
            margin-inline: auto;
        }
        a{
            height: 30vh;
            width: 33.33%;
            margin-bottom: 2rem;
            @include mobile{
                height: 40vh;
                width: 50%;
            }
            
        }
        .paper{
            width: 100%;
            height: 100%;
            background-image: url('assets/newspapers/First-day-at-school.jpg');
            background-size: cover;
            background-position: 0% 30%;
            //padding-bottom: 2rem;
            overflow-y: hidden !important;
            &:hover{
                //transform: scale(1.1);
                
            }
            transition: 0.3s;
        }
        .one{
            background-image: url('assets/newspapers/First-day-at-school.jpg');
            background-position: 0% 30%;
        }
        .two{
            background-image: url('assets/newspapers/don\'t\ sing.jpg') !important;
            background-position: 0% 30%;
        }
        .three{
            background-image: url('assets/newspapers/Not\ a\ Child\'s\ Play.jpg');
            background-position: 0% 30%;
        }
        .four{
            background-image: url('assets/newspapers/only\ love\ is\ real.jpg');
            background-position: 0% 10%;
        }
        .five{
            background-image: url('assets/newspapers/sacn\ 1.jpg');
            background-position: 0% 10%;
        }
        .six{
            background-image: url('assets/newspapers/scan\ 2.jpg');
            background-position: 0% 30%;
        }
        .seven{
            background-image: url('assets/newspapers/The\ Missing\ Man.jpg');
            background-position: 0% 10%;
        }
        
    }
    

}

#book{
    display: flex;
    padding-block: 4rem;
    padding-block-end: 6rem;
    @include mobile{
        flex-direction: column-reverse;
        padding-block: 16px;
    }
    .book{
        margin-block: 2rem;
        padding-block: 4rem;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile{
            width: 100%;
            margin-inline: auto;
            padding-block: 80px;
        }
        img{
            margin-block: 2rem;
            //margin-inline: auto; not working
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            @include mobile{
                margin-block: 0px;
            }
        }
    }
    .content{
        width: 60%;
        @include mobile{
            width: 90%;
            margin-inline: auto
        }
        h1{
            font-size: 3rem;
            color: var(--primary);
            margin: 2rem;
            display: block;
            @include mobile{
                margin: 0;
            }
        }
        p{
            margin: 2rem;
            @include mobile{
                margin: 0;
                margin-block: 16px;
            }
        }
        a{
            text-decoration: none !important;
        }
        button{
            color: var(--primary);
            border-color: var(--primary);
            margin-inline-start: 2rem;
            @include mobile{
                margin: 0;
                margin-inline: auto;
                display: block;
                
            }
            &:hover{
                background-color: var(--primary);
                color: #fff;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

            }
        }
        
    }
}




#publications{
    padding-block: 2rem;
    padding-block-start: 3.25rem;
    font-size: 16px;
    background-color: var(--family-tree);
    background-image: url('/assets/banner.jpg');
    color: #fff;
    h4{
        width: 80%;
        margin-inline-start: 2rem;
        padding-block-start: 2rem;
        margin-block-start: 2rem;
        font-size: 20px;
    }

    .articles{
        display: flex;
        flex-direction: row;
        width: 85%;
        margin-inline: auto;
        margin-block: 4rem;
        justify-content: space-between;
        @include mobile{
            flex-direction: column;
            flex-wrap: wrap;
        }
        .article{
            padding: 2rem;
            background-color: #fff;
            border-radius: 20px;
            width: 22%;
            @include mobile{
                width: 100%;
                margin-bottom: 16px;
            }
            img{
                width: 100%;
                height: 10rem;
                object-fit: cover;
                border-radius: 10px;
            }
            a{
                color: #000;
                opacity: 0.5;
                text-decoration: none;
                margin-inline: 2rem;
            }
        }
        
    }
    a{
        color: #fff;
    }
    h1{
        text-align: center;
        font-size: 2.5rem;
        width: 85%;
        margin-inline: auto;
        text-decoration: underline;
        @include mobile{
            font-size: 24px;
        }
    }
    h4{
        text-align: center;
        width: 85%;
        margin-inline: auto;
        margin-bottom: 2rem;
        @include mobile{
             padding: 0;
        }
    }

    button{
        display: block;
        margin-inline: auto;
        padding-inline: 2rem;
        @include mobile{
            margin-block-start:30px;
        }
    }
    
}


#team{
    padding-block: 2rem;
    padding-bottom: 6rem;
    h4{
        width: 80%;
        margin-inline-start: 2rem;
        padding-block: 2rem;
        opacity: .5;
        font-size: 20px;
    }
    .members{

        --gap: 2rem;
        --gap-mobile: 24px;
        width: 100%;
        display: flex;
        gap: var(--gap);
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-padding: var(--gap);
        padding-bottom: 3rem;
        justify-content: center;
        @include mobile{
            //flex-wrap: wrap;
            //gap: var(--gap-mobile);
            //scroll-padding: var(--gap-mobile);
            overflow-x: scroll;
            justify-content: flex-start;
        }
        .member{
            //width: 10rem;
            //background-color: bisque;
            //width: 25%;
            @include mobile{
                width: 50vw;
                overflow: visible;
                overflow-x: visible;
            }
            img{
                width: 22rem;
                @include mobile{
                    width: 50vw;
                }
            }
            h2{
                color: var(--primary);
                padding-block-start: 1rem;
                //padding-block-end: 1.5rem;
                font-size: 1.25rem;
            }
            p{
                width: 90% !important;
                max-width: 20rem; //so that it doesn't cross the img boundary
                padding-block: 1.5rem;
                @include mobile{
                    //min-width: 14rem;
                }
            }
            button{
                color: var(--primary);
                border: 2px solid var(--primary);
                padding-block: .15rem;
            }

        }
        .member:nth-child(1){
            margin-left: var(--gap);
            @include mobile{
                //margin-left: var(--gap-mobile);
            }
        }
    }
    
    .members > * {
        scroll-snap-align: start;
    }


    ::-webkit-scrollbar{
        //background-color: grey;
        display: none;
    }

}

#seminars{
    padding-block: 2rem;
    padding-block-start: 4rem;
    font-size: 16px;
    background-color: var(--family-tree);
    background-image: url('/assets/connected.jpg');
    color: #fff;
    h4{
        width: 80%;
        margin-inline-start: 2rem;
        padding-block: 2rem;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.5);
        margin-inline: auto;
        text-align: center;
    }

    .articles{
        display: flex;
        flex-direction: row;
        width: 85%;
        margin-inline: auto;
        margin-block: 4rem;
        justify-content: space-between;
        @include mobile{
            flex-direction: column;
            flex-wrap: wrap;
        }
        .article{
            padding: 2rem;
            background-color: #fff;
            border-radius: 20px;
            width: 22%;
            @include mobile{
                width: 100%;
                margin-bottom: 16px;
            }
            img{
                width: 100%;
                height: 10rem;
                object-fit: cover;
                border-radius: 10px;
            }
            a{
                color: #000;
                opacity: 0.5;
                text-decoration: none;
                margin-inline: 2rem;
                &:hover{
                    cursor: initial;
                }
            }
        }
        
    }
    a{
        color: #fff;
    }
    h1{
        text-align: center;
        font-size: 2.5rem;
        width: 85%;
        margin-inline: auto;
        //text-decoration: underline;
    }
    .white{
        color: #fff !important;
    }

    button{
        display: block;
        margin-inline: auto;
        padding-inline: 2rem;
    }
    
}


#workspace{
    padding-block: 10rem;
    padding-block-end: 5rem;
    h4{
        width: 80%;
        margin-inline-start: 2rem;
        padding-block: 2rem;
        opacity: .5;
        font-size: 20px;
    }
    .gallery{
        display: grid;
        grid-template-areas: "one two"
                            "one three";
        height: 100vh;
        @include mobile{
            grid-template-areas: "one"
                                    "two"
                                    "three";
        }
    }
    .img{
        background-color: azure;
        background-image: url('/assets/workspace/one.png');
        background-size: cover;
        background-position: 0%;
        background-repeat: no-repeat;
        @include mobile{
            height: 33.33vh;
            background-position: 0% 50%;
        }
    }
    .one{
        grid-area: one;
    }
    .two{
        grid-area: two;
        background-image: url('/assets/workspace/two.png');
        @include mobile{
            background-position: 0% 70%;
        }
    }
    .three{
        grid-area: three;
        background-image: url('/assets/workspace/three.png');
        @include mobile{
            background-position: 0% 70%;
        }
    }
}

#appointments{
    padding-block-start: 4.5rem;
    h1{
        margin-left: 2.2rem;
        margin-bottom: 2.2rem;
        font-size: 3.2rem;
        color: var(--primary);
    }
    .text-info{
        display: flex;
        flex-direction: row;
        p{
            margin-left: 2.2rem;
            font-size: 16px;
            line-height: 173.4%;
            color: #156064;
            opacity: 1;
            padding-block: 1.5rem;
            padding-inline-end: 4rem;
            margin-bottom: 2rem;
            width: 35%;
            color: var(--primary) !important;
            @include mobile{
                width: 50%;
                padding-inline-end: 12px;
            }
        }
    }
    .form-row{
        display: flex;
        justify-content: space-between;
        @include mobile{
            flex-direction: column;
        }
    }
    .form-area{
        padding-inline: 2.2rem;
        padding-block: 2.2rem;
        background-color: var(--family-tree);
        width: 50%;
        @include mobile{
            width: 100%;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 80%;
            margin-inline: auto;
            padding-block: 1rem;
            padding-block-end: 2rem;
            @include mobile{
                width: 100%;
            }
            h3{
                font-size: 1.6rem;
                color: #fff;
                margin-bottom: 2.5rem;
            }
            input {
                height: 52px;
                border-radius: 8px;
                margin-bottom: 1.8rem;
                padding: 1rem;
                outline: 0;
                border: 0;
                background-color: #fff;
            }
            ::placeholder{
                font-size: 1rem;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.5);
                font-weight: 600;
                opacity: 1;
                padding-left: 1rem;
            }
            
            fieldset{
                outline: 0;
                border: 0;
            }

            //CHECKBOX
            .checkbox-container{
                height: 52px;
                border-radius: 8px;
                margin-bottom: 1.8rem;
                padding: 1rem;
                outline: 0;
                border: 0;
                background-color: #fff;
                width: 48%;
                overflow: hidden !important;

                @include mobile{
                    //width: 100%;
                    overflow: visible;
                    width: 100%;
                }
                .checkbox{
                    display: block;
                    position: relative;
                    padding-left: 2rem;
                    cursor: pointer;
                    font-size: 1.4rem;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
    
                    font-size: 1rem;
                    color: rgba(0, 0, 0, 0.5);
                    font-weight: 600;
                    opacity: 1;
                    padding-left: 2rem;

                    overflow: hidden !important;

                    @include mobile{
                        padding-left: 42px;
                    }
    
                    //Hide the browser's default checkbox 
                    input{
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                    //create a custom checkbox
                    .checkmark{
                        position: absolute;
                        top: -2px;
                        left: 0;
                        height: 25px;
                        width: 25px;
                        background-color: #D9D9D9;

                        overflow: visible;
    
                        &::after{
                            content: url('/assets/check-mark.svg');
                            position: absolute;
                            width: 8px !important;
                            height: 8px !important;
                            display: none;
                        }
                    }
                    &:hover > .checkmark{
                        background-color: #ccc;
                    }
                    
                }
                /*
                .checkbox input:checked ~ .checkmark {
                    background-color: #2196F3;
                }*/
    
                /* Show the checkmark when checked */
                .checkbox input:checked ~ .checkmark:after {
                    display: block;
                }
            }

            .one-row{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                @include mobile{
                    //display: none;
                    display: flex;
                    flex-direction: column;
                }
            }
        
            

            textarea{
                //height: 52px;
                border-radius: 8px;
                margin-bottom: 1.8rem;
                padding: 1rem;
                outline: 0;
                border: 0;
                background-color: #fff;
                resize: none;
            }
            

            button{
                background-color: var(--primary);
                color: #fff;
                width: 25%;
                padding-block: 0.5rem;
                font-weight: bold;
                border: #fff 1px solid;
                @include mobile{
                    padding-inline: 48px;
                    padding-block: 8px;
                    word-wrap: unset;
                }
            }
        }
    }
    .img-area{
        height: auto;
        width: 50%;
        background-image: url('/assets/image-4-452x570.jpg');
        background-size: cover;
        background-position: 0% 0%;
        @include mobile{
            width: 100%;
            height: 40vh;
        }
    }
}   

#footer{
    background-image: url('/assets/footer.png');
    background-size: cover;
    color: #fff;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        margin-bottom: 3rem;
    }
    h3{
        font-size: 1.25rem;
        text-align: center;
        line-height: 160%;
        @include mobile{
            font-size: 16px;
        }
    }
}