@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #156064;
  --family-tree: #81864e;
}

.container {
  width: 80%;
  margin-inline: auto;
}

.btn-primary {
  min-width: 72px;
  height: 36px;
  padding-inline: 1rem;
  padding-block: 0.4 rem;
  box-sizing: content-box;
  background-color: #fff;
  color: var(--primary);
  font-weight: 700;
  border: 3px solid var(--primary);
  border-radius: 52px;
}

.btn-primary:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn-outline {
  min-width: 72px;
  height: 36px;
  padding-inline: 1.5rem;
  padding-block: 0.4rem;
  box-sizing: content-box;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 52px;
}

.btn-outline:hover {
  cursor: pointer;
}

p {
  font-size: 1rem;
  line-height: 173%;
  opacity: 0.6;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
nav .logo {
  display: flex;
  margin-left: 2.2rem;
}
nav .logo img {
  width: 6rem;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
nav ul li {
  margin-inline: 2.2rem;
}
nav ul li a {
  text-decoration: none !important;
  color: #fff;
}
nav ul li:nth-child(1) {
  margin-inline: 0;
  margin-right: 2.2rem;
}
nav ul li:nth-child(5) {
  margin-inline: 0;
  margin-left: 2.2rem;
}

.navbar-scrolled {
  background: #fff !important;
  color: var(--primary);
  box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}
.navbar-scrolled a {
  color: var(--primary);
}
.navbar-scrolled button {
  background-color: var(--primary);
  color: #fff;
}

header {
  background-color: var(--family-tree);
  background-image: url("/assets/header-bg.jpg");
  background-size: cover;
  background-position: 0% 15%;
  height: 100vh;
  height: 100dvh;
  color: #fff;
}
header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 60%;
  margin-inline: auto;
  gap: 1rem;
  padding-top: 6rem;
}
header .header-content h1 {
  font-size: 3.4rem;
}
header .header-content p {
  font-size: 16px;
  padding-block: 1rem;
  width: 40%;
  line-height: 1.8rem;
}
header .header-content button {
  margin-block: 1rem;
}

.info {
  width: 60%;
  margin-inline: auto;
  display: flex;
  margin-block: 8rem;
  padding-block: 2rem;
  align-items: center;
  gap: 2rem;
}
.info img {
  width: 50%;
}
.info p {
  font-size: 1.2rem;
}

.connected {
  background-color: var(--family-tree);
  background-image: url("/assets/connected.jpg");
  background-size: cover;
  padding: 5rem;
  text-align: center;
  color: #fff;
  border-radius: 2rem;
}
.connected h1 {
  font-size: 3.4rem;
  width: 70%;
  margin-inline: auto;
}
.connected .line {
  width: 50%;
  height: 1px;
  background-color: #fff;
  margin-inline: auto;
  margin-block: 3rem;
}
.connected p {
  opacity: 1;
  width: 70%;
  margin-inline: auto;
}

.reverse {
  flex-direction: row-reverse;
}

#prints {
  padding-block: 2rem;
  font-size: 16px;
}
#prints h4 {
  width: 80%;
  -webkit-margin-start: 2rem;
          margin-inline-start: 2rem;
  padding-block: 2rem;
  font-size: 20px;
}
#prints .prints {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#prints .prints a {
  height: 30vh;
  width: 33.33%;
  margin-bottom: 2rem;
}
#prints .prints .paper {
  width: 100%;
  height: 100%;
  background-image: url("assets/newspapers/First-day-at-school.jpg");
  background-size: cover;
  background-position: 0% 30%;
}
#team {
  padding-block: 2rem;
  padding-bottom: 6rem;
}
#team h4 {
  width: 80%;
  -webkit-margin-start: 2rem;
          margin-inline-start: 2rem;
  padding-block: 2rem;
  opacity: 0.5;
  font-size: 20px;
}
#team .members {
  --gap: 2rem;
  width: 100%;
  display: flex;
  gap: var(--gap);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: var(--gap);
  padding-bottom: 3rem;
}
#team .members .member img {
  width: 20rem;
}
#team .members .member h2 {
  color: var(--primary);
  -webkit-padding-before: 1rem;
          padding-block-start: 1rem;
  font-size: 1.25rem;
}
#team .members .member p {
  width: 90%;
  padding-block: 1.5rem;
}
#team .members .member button {
  color: var(--primary);
  border: 2px solid var(--primary);
  padding-block: 0.15rem;
}
#team .members .member:nth-child(1) {
  margin-left: var(--gap);
}
#team .members > * {
  scroll-snap-align: start;
}
#team ::-webkit-scrollbar {
  display: none;
}

#publications {
  padding-block: 2rem;
  font-size: 16px;
  background-color: var(--family-tree);
  background-image: url("/assets/banner.jpg");
  color: #fff;
}
#publications h4 {
  width: 80%;
  -webkit-margin-start: 2rem;
          margin-inline-start: 2rem;
  padding-block: 2rem;
  font-size: 20px;
}
#publications .articles {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin-inline: auto;
  margin-block: 4rem;
  justify-content: space-between;
}
#publications .articles .article {
  padding: 2rem;
  background-color: #fff;
  border-radius: 20px;
  width: 22%;
}
#publications .articles .article img {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#publications .articles .article a {
  color: #000;
  opacity: 0.5;
  text-decoration: none;
  margin-inline: 2rem;
}
#publications a {
  color: #fff;
}
#publications h1 {
  text-align: center;
  font-size: 2.5rem;
  width: 85%;
  margin-inline: auto;
  text-decoration: underline;
}
#publications h4 {
  text-align: center;
  width: 85%;
  margin-inline: auto;
}
#publications button {
  display: block;
  margin-inline: auto;
  padding-inline: 2rem;
}/*# sourceMappingURL=style.css.map */